{% load staticfiles %}{% load inlinecss %}{% inlinecss "css/email_confirmation.css" %}<html>
	<body id="barachiel-body">
		<div id="barachiel-header"><img id="barachiel-icon" src="{{ BASE_URL }}{% static 'img/Icon.png' %}"/><h1 id="barachiel-brand">Waving!</h1></div>
		<div id="barachiel-content">
			<h3>Thank you for signing up!</h3>
			<p>
				We have registered an account under this e-mail address ({{ emailAddress }}), on behalf of <span class="emph">{{ user.name }}</span>. This account will be active during the next {{ grace_time }} day(s). If you wish your account to be permanent, please go to your profile, and then select <span class="emph">Confirm my E-Mail address</span>. A confirmation code will be requested. Please, enter the following code:
			</p>
			<p class="confirmation-code">
				{{ token }}
			</p>
			<p>
				If you have not signed up in Waving, just ignore this email and any other from us until the {{ grace_time }} day(s) period have ended, and this account will be automatically deactivated.
			</p>
			<p>Kind regards,<br/><br/>--<br/>The Waving Team.</p>
		</div>
		<div id="barachiel-footer"><span>Waving! ©2014</span></div>
	</body>
</html>
{% endinlinecss %}