{% extends "email/base.html" %}
{% load staticfiles %}

{% block title %} E-Mail Confirmation. {% endblock %}

{% block content %}

<table cellpadding="0" cellspacing="0" border="0" align="center">
    <tr>
        <td valign="top">

        	<h3>E-Mail Confirmation:</h3>

        	<p>
        		We have registered a new e-mail address ({{ emailAddress }}), on behalf of <span class="emph">{{ user.name }}</span>. Please go to your profile, and then select <span class="emph">Confirm my E-Mail address</span>. A confirmation code will be requested. Please, enter the following code:
        	</p>

        	<p class="confirmation-code">
        		{{ token }}
        	</p>

        	<p>Kind regards,<br/><br/>--<br/>The Waving Team.</p>
        </td>
    </tr>
</table>

{% endblock %}

{% block css %}
<style type="text/css">

</style>
{% endblock %}
